<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer-1154">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="{{client.domain}}">
        <img
          class="cs-logo-img"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/logo-white.svg"
          alt="logo"
          width="168"
          height="48"
        />
      </a>
      <ul class="cs-ul">
        {% set navPages = collections.all | eleventyNavigation %} {% for entry
        in navPages %}
        <li class="cs-li">
          <a href="{{ entry.url }}" class="cs-link">{{ entry.key }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="cs-bottom">
      <!--Social-->
      <!-- <ul class="cs-social">
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="facebook"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="twitter"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="instagram"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="twitter"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
      </ul> -->
      <span class="cs-copyright">
        © Copyright 2023 -
        <a href="{{client.website}}" class="cs-copyright-link"
          >Onkyoh Web Designs</a
        >
      </span>
    </div>
  </div>
</section>
