<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer">
  <div class="cs-container">
    <div class="brand-container">
      <a href="/">
        <img src="/assets/svgs/logo-white.svg" alt="Onkyoh Web Designs logo" />
      </a>
      <p>Unlock your business's web potential today.</p>
    </div>
    <div class="cta-container">
      <a href="/contact" class="cta-button">Get in Touch</a>
      <ul class="cs-ul">
        {% set navPages = collections.all | eleventyNavigation %} {% for entry
        in navPages %}
        <li class="cs-li">
          <a href="{{ entry.url }}" class="cs-link">{{ entry.key }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <ul class="contact-container">
      <li>
        Email:
        <a class="cs-link" href="mailTo:{{client.email}}">{{client.email}}</a>
      </li>
      <li>
        Phone:
        <a class="cs-link" href="tel:{{client.phoneForTel}}"
          >{{client.phoneFormatted}}</a
        >
      </li>
    </ul>
    <span>
      © Copyright 2023 - Designed and Developed By
      <a href="https://www.onkyohwebdesigns.ca" class="cs-link"
        >Onkyoh Web Designs</a
      ></span
    >
  </div>
</footer>
