---
title: "About"
description: "Onkyoh Web Design is an agency started by Adnan Radwan made with the goal of developing hand coded websites maximize the web presence of small businesses and help them grow."
preloadImg: "/assets/images/aboutme.jpg"
permalink: "about/"
eleventyNavigation:
  key: About
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Me</h1>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-332">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture">
        <source
          media="(max-width: 400px)"
          srcset="/assets/images/aboutme-m.webp"
        />
        <source
          media="(min-width: 401px)"
          srcset="/assets/images/aboutme.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/aboutme.jpg"
          alt="cleaner"
          width="524"
          height="524"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-box">
        <img src="/assets/svgs/code.svg" alt="code icon" />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Onkyoh Web Designs</span>
      <h2 class="cs-title">
        Helping Small Businesses <span class="cs-span">Grow</span>
      </h2>
      <p class="cs-text">
        I'm Adnan, a web developer and the sole owner of Onkyoh Web Designs. My
        whole life I have possessed an interest in creating things with
        technology, so when I stumbled upon web design, there was an instant
        click. I started this business after seeing too many small businesses
        with poorly built websites holding back their growth.
      </p>
      <p class="cs-text">
        I understand many businesses may be reluctant or unable to invest
        thousands in a website. With this in mind, I've designed a pricing model
        for small businesses, focusing on long-term growth. Instead of a large
        upfront cost, I offer a plan with no initial payment and a monthly fee
        of $150, making it more affordable and reflecting the ongoing value that
        a quality website can provide.
      </p>
      <a class="cs-button-solid" aria-label="contact" href="/contact"
        >Let Me Help You</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">A Relationship</span>
      <h2 class="cs-title"><span class="cs-span">Why</span> Choose Me?</h2>
      <p class="cs-text">
        While every developer says they are working in your best interest, I
        mean it. With a pricing model that lets you walk away anytime after 8
        months you can rest assured that I will make a website invested in your
        business's growth.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/check.svg"
            alt="check icon"
            width="32"
            height="32"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">No Shortcuts</h3>
        <p class="cs-item-text">
          No page-builders, no WordPress, no shortcuts. Every line coded by hand
          and optimized for the best experience possible.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/growth.svg"
            alt="business growth icon"
            width="40"
            height="40"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Invested in you</h3>
        <p class="cs-item-text">
          I rely on my website providing continual benefit for your business.
          That's why you can rest assured I am invested in your business's
          success.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/unlimited.svg"
            alt="unlimited icon"
            width="42"
            height="42"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Unlimited Edits for Life</h3>
        <p class="cs-item-text">
          The web is constantly evolving and so is your business. You need a
          website that's up-to-date both in content and code. I provide that
          free of additional charge.
        </p>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
