---
title: "Services"
description: "Whether you're launching a new business, revamping your online presence, or simply looking for a fresh look, Onkyoh Web Designs is committed to meeting your specific needs. Get a blazingly fast hand-coded website with a modern design for $0 down and just $150 a month."
preloadImg: ""
permalink: "/services"
eleventyNavigation:
  key: Services
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/services.css" />
{% endblock %} {% block body %}

<section id="int-hero">
  <h1 id="home-h">Services</h1>
</section>

//hand coded //seo better than yoast //optimized

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-683">
  <div class="cs-container">
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1125">
      <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
          <!--Main Image-->
          <picture class="cs-picture"></picture>
          <!--Circle Graphic-->
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
          <span class="cs-topper">No Page Builders</span>
          <h2 class="cs-title">
            The <span class="cs-span">Hand-Coded</span> Difference
          </h2>
          <p class="cs-text">
            The main benefit of my services comes through my hand-coded approach
            to building websites. I elect to make websites by hand instead of
            using WordPress, page builders, or frameworks. Hand-coded websites
            completely out-perform the alternatives for several reasons:
          </p>

          <a
            class="cs-button-solid"
            aria-label="learn more about our programs"
            href=""
            >Discover More</a
          >
        </div>
      </div>
    </section>
    <ul class="cs-ul">
      <li class="cs-li">
        <h3 class="cs-h3">Performance</h3>
        <p class="cs-text">
          Due to their bloated and messy code the alternatives have limited
          potential on performance.
        </p>
      </li>
      <li class="cs-li">
        <h3 class="cs-h3">SEO</h3>
        <p class="cs-text">
          Page builders and WordPress Without require plugins like Yoast for any
          SEO, and at best all they can do is mimic a fraction of the SEO a
          developer can implement with a hand-coded website.
        </p>
      </li>
      <li class="cs-li">
        <h3 class="cs-h3">Security</h3>
        <p class="cs-text">
          Due to the vulnerability of injecting code to build websites WordPress
          and PageBuilders are prime targets for hackers.
        </p>
      </li>
      <li class="cs-li">
        <h3 class="cs-h3">Optimization</h3>
        <p class="cs-text">
          Hand-coded websites can optimize every single line of code. That means
          you get a website that loads and performs as fast as possible
        </p>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
