---
title: "Pixel Perfect Websites"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-custom">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Onkyoh Web Designs</span>
      <h1 class="cs-title">Small Business Web Design and Development</h1>
      <p class="cs-text">
        Unlock your business's online potential with hand-coded websites
        designed to fuel growth and maximize your web presence.
      </p>
      <a class="cs-button-solid" href="/contact">Get in Touch</a>
    </div>
    <div class="cs-picture-container">
      <img
        src="/assets/svgs/desktop.svg"
        alt="mobile layout"
        height="250"
        width="250"
        decoding="async"
      />
      <img
        src="/assets/svgs/mobile.svg"
        alt="mobile layout"
        height="150"
        width="150"
        decoding="async"
      />
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1172">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">The Process</span>
      <h2 class="cs-title">
        How I <span class="cs-span">Unlock</span> Your Website's Potential
      </h2>
      <p class="cs-text">
        Your clients and Google are on the same page - they both like a visually
        appealing websites that loads in a flash and delivers the right content.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/design.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Design</h3>
        <p class="cs-item-text">
          Start with a modern design that aligns with your brand and conveys the
          quality of your business.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/lightning.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Code by Hand</h3>
        <p class="cs-item-text">
          No page builders or Wordpress, I code everything by hand so your
          website is as fast as possible.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/seo.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Search Engine Optimization</h3>
        <p class="cs-item-text">
          Surpass all of Google's ranking criteria with keywords, mobile
          optimization, and high performance.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/crown.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Climb the Rankings</h3>
        <p class="cs-item-text">
          With a website that outshines all your competitors, your business is
          set to unlock its full potential.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-370">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">For a Growing Business</span>
      <h2 class="cs-title">
        <span class="cs-span">$0</span> Down,
        <span class="cs-span">$150</span> per Month,
        <span class="cs-span">6</span> Month Minimum Contract
      </h2>
      <p class="cs-text">
        Not every business can pay thousands upfront for a website and I don't
        think they should. For that reason I've structured my pricing to reflect
        the continuous revenue that my website will bring to your business.
      </p>
      <p class="cs-text">
        I believe that after 6 months you will see the benefits and stick
        around. If that's not the case cancel anytime and keep your domain + the
        website's content.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="splash icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Modern Responsive Website</h3>
            <p class="cs-li-text">
              You get a complete website with a modern design that looks great
              on all devices.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="splash icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Hosting Included</h3>
            <p class="cs-li-text">
              Save yourself the headache of keeping your website running, I'll
              handle everything.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="splash icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Unlimited Edits</h3>
            <p class="cs-li-text">
              Want to change something? No problem, I'll make as many edits as
              you need for no additional cost.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="splash icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">100 Google Page Scores</h3>
            <p class="cs-li-text">
              I will optimize and test your website to ensure it loads as fast
              as possible. Your customers will love it and so will Google.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="splash icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Google Analytics</h3>
            <p class="cs-li-text">
              Your website comes with Google Analytics installed so you can view
              traffic and its origin.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!--Left Image Group-->
    <div class="cs-image-group">
      <!--Left Circle Image-->
      <picture class="cs-left-image">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/growth.svg"
          alt="growth"
          width="120"
          height="120"
          aria-hidden="true"
        />
      </picture>
      <!--Bottom Circle Image-->
      <picture class="cs-bottom-image">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/google.svg"
          alt="google"
          width="120"
          height="120"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-store">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/store.svg"
          alt="store"
          width="386"
          height="521"
          aria-hidden="true"
        />
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Portfolio                    -->
<!-- ============================================ -->

<section id="portfolio">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Portfolio</span>
      <h2 class="cs-title">
        Modern <span class="cs-span">Designs</span> and Functional
        <span class="cs-span">Solutions</span>
      </h2>
      <p class="cs-text">
        Each project in my portfolio is a showcase of my commitment to creating
        websites that are not only visually appealing but also excel in
        functionality. This collection is where thematic design meets practical
        solutions, demonstrating the value I bring to web development. By
        exploring my work, you'll see the quality and dedication I would bring
        to your project, ensuring your vision comes to life with style and
        efficiency.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link" href="https://www.paperkitchen.ca" target="_blank">
          <picture class="cs-picture" id="pk">
            <img
              decoding="async"
              src="/assets/images/PK-icon.png"
              alt="agency"
              width="192"
              height="192"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              PaperKitchen
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="/assets/svgs/arrow.svg"
                  alt="arrow"
                  width="50"
                  height="50"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <p class="cs-text">
                There's no more need for paper in your kitchen when you've got
                paper kitchen.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="https://fightcardshq.com" target="_blank">
          <picture class="cs-picture" id="fc">
            <img
              decoding="async"
              src="/assets/images/FC-icon.png"
              alt="agency"
              width="192"
              height="192"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              FightCardsHQ
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="/assets/svgs/arrow.svg"
                  alt="arrow"
                  width="50"
                  height="50"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <p class="cs-text">
                Fight cards from all your favourite organizations in one spot.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="https://www.calendarhub.ca" target="_blank">
          <picture class="cs-picture" id="ch">
            <img
              decoding="async"
              src="/assets/images/CH-icon.png"
              alt="agency"
              width="192"
              height="192"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              CalendarHub
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="/assets/svgs/arrow.svg"
                  alt="arrow"
                  width="50"
                  height="50"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <p class="cs-text">
                Empowering you to create, and share calendars effortlessly.
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-363">
  <div class="cs-container">
    <div class="cs-image-group">
      <!-- Maid Picture -->
      <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
      <picture class="cs-person">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/aboutme.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/aboutme.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/aboutme.webp"
          alt="Adnan Radwan"
          width="500"
          height="500"
          aria-hidden="true"
        />
      </picture>
    </div>
    <div class="cs-content">
      <span class="cs-topper">About Me</span>
      <h2 class="cs-title">
        The <span class="cs-span">Perfect</span> Web Developer for your
        <span class="cs-span">Business</span>
      </h2>
      <p class="cs-text">
        My name's Adnan and my whole life I have been infactuated with design
        and technology. After graduating from the University of Toronto I spent
        the next 2 years teaching myself how to make websites, the right way. I
        started this business because I saw too many small businesses settling
        for slow websites built by Wordpress developers who could care less
        about their clients after the cheque hit. That is why Onkyoh Web Designs
        will always be about fostering relationships and creating handed-coded
        websites that unlock your business's web potential.
      </p>
      <a href="/contact" class="cs-button-solid">Learn More</a>
    </div>
  </div>
</section>

{% endblock %}
