---
title: "Pixel Perfect Websites"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-custom">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Onkyoh Web Designs</span>
      <h1 class="cs-title">Small Business Web Development</h1>
      <p class="cs-text">
        Unlock your business's online potential with hand-coded websites
        designed to fuel growth and maximize your web presence.
      </p>
      <a class="cs-button-solid" href="/contact">Get in Touch</a>
    </div>
    <picture class="cs-picture">
      <img
        src="/assets/svgs/devices.svg"
        alt="mobile and desktop layout"
        height="300"
        width="300"
      />
    </picture>
  </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1172">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">The Process</span>
      <h2 class="cs-title">How I Unlock Your Website's Potential</h2>
      <p class="cs-text">
        Your clients and Google are on the same page - they both want a visually
        appealing website that loads in a flash and delivers the right content.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/design.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Design</h3>
        <p class="cs-item-text">
          Start with a modern design that aligns with your brand and conveys the
          quality of your business.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/lightning.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Code by Hand</h3>
        <p class="cs-item-text">
          No page builders or Wordpress, I code everything by hand so your
          website is as fast as possible.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/seo.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Search Engine Optimization</h3>
        <p class="cs-item-text">
          Surpass all of Google's ranking criteria including; performance,
          mobile optimization, and keywords.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/crown.svg"
            alt="icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Climb the Rankings</h3>
        <p class="cs-item-text">
          With a website that outshines all your competitors, your business is
          set to unlock its full potential.
        </p>
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
