---
title: "Small Business Websites"
description: "Maximize your online impact with a hand-coded website for just $150/mo crafted by the best web design service in Toronto"
preloadImg: ""
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-custom">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Onkyoh Web Designs</span>
      <h1 class="cs-title">Small Business Web Design and Development</h1>
      <p class="cs-text">
        Unlock your business's online potential with hand-coded websites
        designed to fuel growth and maximize your web presence.
      </p>
      <a class="cs-button-solid" href="/contact">Get in Touch</a>
    </div>
    <div class="cs-picture-container">
      <img
        src="/assets/svgs/desktop.svg"
        alt="desktop layout"
        height="250"
        width="250"
        decoding="async"
      />
      <img
        src="/assets/svgs/mobile.svg"
        alt="mobile layout"
        height="150"
        width="150"
        decoding="async"
      />
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Value Prop                  -->
<!-- ============================================ -->

<section id="services-367">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">No WordPress - No Page Builders</span>
      <h2 class="cs-title">
        The <span class="cs-span">Hand-Coded</span> Difference
      </h2>
      <p class="cs-text">
        When it comes to quality, performance, and customization, a hand-coded
        website outclasses one built with WordPress or page builders. This is
        because the benefits of WordPress and page builders are primarily for
        website creators, not the visitors. If you truly want the best quality -
        you want a hand-coded website.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/lightning.svg"
            alt="lightning icon"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Better Performance</h3>
        <p class="cs-item-text">
          Never lose another customer to load times - hand-coded websites load
          instantly and keep visitors engaged.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/google-outline.svg"
            alt="google icon"
            width="50"
            height="50"
          />
        </picture>
        <h3 class="cs-h3">Better SEO</h3>
        <p class="cs-item-text">
          Nowadays, Google prioritizes more than just keywords - websites
          offering a better overall experience will rank higher.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/settings.svg"
            alt="settings icon"
            width="40"
            height="40"
          />
        </picture>
        <h3 class="cs-h3">Better Control</h3>
        <p class="cs-item-text">
          Hand-coding allows control over every line of code, offering unlimited
          design, features, and optimizations.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/shield.svg"
            alt="shield icon"
            width="50"
            height="50"
          />
        </picture>
        <h3 class="cs-h3">Better Security</h3>
        <p class="cs-item-text">
          Hand-coded websites are inherently more secure due to their lack of
          reliance on plugins, servers, and themes.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->

<section id="why-choose-370">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">For a Growing Business</span>
      <h2 class="cs-title">
        <span class="cs-span">$0</span> Down,
        <span class="cs-span">$150</span> per Month,
        <span class="cs-span">8</span> Month Minimum Contract
      </h2>
      <p class="cs-text">
        Not every business can afford to pay thousands upfront for a website,
        and I don't believe they should have to. That's why I've designed my
        pricing structure to align with the ongoing revenue your website will
        generate for your business.
      </p>
      <p class="cs-text">
        I believe that after 8 months you will see the benefits and stick
        around. If that's not the case cancel anytime and keep your domain + the
        website's content.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Modern Responsive Website</h3>
            <p class="cs-li-text">
              You get a complete website with a modern design that looks great
              on all devices.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Hosting Included</h3>
            <p class="cs-li-text">
              Save yourself the headache of keeping your website running, I'll
              handle everything.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Unlimited Edits</h3>
            <p class="cs-li-text">
              Want to change something? No problem, I'll make as many edits as
              you need for no additional cost.
            </p>
          </div>
        </li>

        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Google Analytics</h3>
            <p class="cs-li-text">
              Your website comes with Google Analytics installed so you can view
              traffic and its origin.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark icon"
            width="19"
            height="20"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">100 Google Page Scores</h3>
            <p class="cs-li-text">
              I will optimize and test your website to ensure it loads as fast
              as possible. Your visitors will love it and so will Google.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!--Left Image Group-->
    <div class="cs-image-group">
      <!--Left Circle Image-->
      <picture class="cs-left-image">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/growth.svg"
          alt="growth icon"
          width="120"
          height="120"
          aria-hidden="true"
        />
      </picture>
      <!--Bottom Circle Image-->
      <picture class="cs-bottom-image">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/google.svg"
          alt="google icon"
          width="120"
          height="120"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-store">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/store.svg"
          alt="store icon"
          width="386"
          height="521"
          aria-hidden="true"
        />
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1172">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">The Process</span>
      <h2 class="cs-title">
        How I <span class="cs-span">Unlock</span> Your Website's Potential
      </h2>
      <p class="cs-text">
        Your visitors and Google are on the same page - they both like a
        visually appealing website that loads in a flash and delivers the right
        content.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/design.svg"
            alt="design icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Design</h3>
        <p class="cs-item-text">
          Start with a modern design that aligns with your brand and conveys the
          quality of your business.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/lightning.svg"
            alt="lightning icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Code by Hand</h3>
        <p class="cs-item-text">
          No page builders or Wordpress, I code everything by hand so your
          website is as fast as possible.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/seo.svg"
            alt="magnifying glass icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Search Engine Optimization</h3>
        <p class="cs-item-text">
          Surpass all of Google's ranking criteria with keywords, mobile
          optimization, and high performance.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/svgs/crown.svg"
            alt="crown icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </picture>
        <h3 class="cs-h3">Climb the Rankings</h3>
        <p class="cs-item-text">
          With a website that outshines all your competitors, your business is
          set to unlock its full potential.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                      SEO                     -->
<!-- ============================================ -->

<section id="sbsr-463">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Search Engine Optimization</span>
      <h2 class="cs-title">
        Doing <span class="cs-span">More</span> than your
        <span class="cs-span">SEO</span> Plugin
      </h2>
      <p class="cs-text">
        Google has made it clear that inputting a few relevant keywords is not
        enough for SEO anymore. You need quality content delivered with the best
        user experience possible. This means a well-designed and lightning-fast
        website is imperative. I can provide that, your SEO plugin can't.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark"
            width="19"
            height="20"
          />
          <p class="cs-text">
            Updated content always following Google SEO guidelines.
          </p>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark"
            width="19"
            height="20"
          />
          <p class="cs-text">
            Completely responsive and flawless layout for phone, tablet, and
            desktop.
          </p>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark"
            width="19"
            height="20"
          />
          <p class="cs-text">
            Mobile first optimization delivering the quickest experience
            possible.
          </p>
        </li>
        <li class="cs-li">
          <img
            class="cs-bullet"
            src="/assets/svgs/bullet.svg"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            alt="checkmark"
            width="19"
            height="20"
          />
          <p class="cs-text">
            Perfectly structured code to assist web crawlers.
          </p>
        </li>
      </ul>
      <a
        href="/blog/why-hand-coded-websites-perform-the-best"
        class="cs-button-solid"
        >Read the Blog</a
      >
    </div>
    <div class="cs-image-group">
      <picture class="cs-top-image">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/mobile.svg"
          alt="mobile icon"
          width="120"
          height="120"
          aria-hidden="true"
        />
      </picture>
      <!--Bottom Circle Image-->
      <picture class="cs-bottom-image">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/lightning.svg"
          alt="performance icon"
          width="120"
          height="120"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-quote-container">
        <q class="cs-quote">
          Site owners seeking to be successful with our systems should not focus
          on only one or two aspects of page experience. Instead, check if
          you're providing an overall great page experience across many aspects.
        </q>
        <span class="cs-name"> - Google's Blog</span>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Portfolio                    -->
<!-- ============================================ -->

<section id="portfolio">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Portfolio</span>
      <h2 class="cs-title">
        Modern <span class="cs-span">Designs</span> and Functional
        <span class="cs-span">Solutions</span>
      </h2>
      <p class="cs-text">
        Welcome to my portfolio. Here you will find the expertise and attention
        to detail that I will use to create your business's website.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link" href="https://www.paperkitchen.ca" target="_blank">
          <picture class="cs-picture" id="pk">
            <img
              decoding="async"
              loading="lazy"
              src="/assets/images/PK-icon.png"
              alt="PaperKitchen.ca banner"
              width="192"
              height="192"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              PaperKitchen
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  loading="lazy"
                  src="/assets/svgs/arrow.svg"
                  alt="arrow"
                  width="50"
                  height="50"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <p class="cs-text">
                There's no more need for paper in your kitchen when you've got
                paper kitchen.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="https://fightcardshq.com" target="_blank">
          <picture class="cs-picture" id="fc">
            <img
              decoding="async"
              loading="lazy"
              src="/assets/images/FC-icon.png"
              alt="FightCardsHQ banner"
              width="192"
              height="192"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              FightCardsHQ
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  loading="lazy"
                  src="/assets/svgs/arrow.svg"
                  alt="arrow"
                  width="50"
                  height="50"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <p class="cs-text">
                Fight cards from all your favourite organizations in one spot.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="https://www.calendarhub.ca" target="_blank">
          <picture class="cs-picture" id="ch">
            <img
              decoding="async"
              src="/assets/images/CH-icon.png"
              alt="CalendarHub banner"
              loading="lazy"
              width="192"
              height="192"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              CalendarHub
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="/assets/svgs/arrow.svg"
                  loading="lazy"
                  alt="arrow"
                  width="50"
                  height="50"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <p class="cs-text">
                Empowering you to create, and share calendars effortlessly.
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                 About                 -->
<!-- ============================================ -->

<section id="sbs-363">
  <div class="cs-container">
    <picture class="cs-person">
      <source
        media="(max-width: 400px)"
        srcset="/assets/images/aboutme-m.webp"
      />
      <source media="(min-width: 401px)" srcset="/assets/images/aboutme.webp" />
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/aboutme.jpg"
        alt="Adnan Radwan, owner of Onkyoh Web Designs"
        width="524"
        height="524"
        aria-hidden="true"
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">About Me</span>
      <h2 class="cs-title">
        The <span class="cs-span">Perfect</span> Web Developer for your
        <span class="cs-span">Business</span>
      </h2>
      <p class="cs-text">
        My name's Adnan and my whole life I have been infactuated with design
        and technology. After graduating from the University of Toronto I spent
        the next 2 years teaching myself how to make websites, the right way. I
        started Onkyoh Web Designs because I saw too many small businesses
        settling for slow websites built by Wordpress developers who could care
        less about their clients after the cheque hit. That is why my service
        will always be about fostering relationships and creating handed-coded
        websites that unlock your business's web potential.
      </p>
      <a href="/about" class="cs-button-solid">Why Choose Me?</a>
    </div>
  </div>
</section>

{% endblock %}
