/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1151 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(704 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      column-gap: auto;
      /* 48px - 80px */
      row-gap: clamp(3rem, 6vw, 5rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: calc(550 / 16 * 1rem);
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-contact-text {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      text-align: left;
      margin: 0 0 calc(24 / 16 * 1rem);
      color: var(--bodyTextColor);
    }

    .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(24 / 16 * 1rem);
      position: relative;
    }

    .cs-li {
      list-style: none;
      display: flex;

      background: #f7f7f7;
      border-radius: calc(24 / 16 * 1rem);
      width: calc(clamp(250px, 100%, 400px));
      * {
        text-decoration: none;
      }
      &:hover {
        background: var(--backgroundGradient);

        .cs-icon-wrapper {
          border: 1px solid white;
        }

        .cs-icon {
          filter: brightness(1000%) grayscale(1);
        }

        * {
          color: #fff;
        }
      }
    }

    .cs-contact-link {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(20 / 16 * 1rem);
      padding: calc(20 / 16 * 1rem);
      width: 100%;
    }

    .cs-header {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: calc(12 / 16 * 1rem);
      color: var(--headerColor);
      display: block;
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      line-height: 1.5em;
      text-decoration: none;
      display: block;
      position: relative;
      color: var(--bodyTextColor);
    }

    .cs-icon-wrapper {
      width: calc(60 / 16 * 1rem);
      height: calc(60 / 16 * 1rem);
      margin: 0;
      border: 1px solid #bababa;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: calc(24 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-form {
      width: 100%;
      position: relative;
      /* 24px - 48px top and bottom */
      /* 16px - 32px left and right */
      padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 2rem);
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      background-color: #f7f7f7;
      border-radius: calc(16 / 16 * 1rem);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: calc(12 / 16 * 1rem);
      background: var(--backgroundGradient);
    }

    .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      width: 100%;
      font-weight: bold;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: calc(4 / 16 * 1rem);
    }

    .cs-input {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      height: calc(56 / 16 * 1rem);
      padding: 0;
      padding-left: calc(24 / 16 * 1rem);
      color: var(--headerColor);
      background-color: #fff;
      border-radius: calc(8 / 16 * 1rem);
      border: none;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      &::placeholder {
        color: #7d799c;
        opacity: 0.6;
      }
    }

    .cs-textarea {
      min-height: calc(120 / 16 * 1rem);
      padding-top: calc(24 / 16 * 1rem);
      margin-bottom: calc(12 / 16 * 1rem);
      font-family: inherit;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      border: none;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background: #fff;
      color: #000;
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        color: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-submit {
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    .cs-graphic {
      display: none;
    }

    .cs-graphic1 {
      width: calc(208 / 16 * 1rem);
      height: auto;
      position: absolute;
      left: calc(-120 / 16 * 1rem);
      top: calc(138 / 16 * 1rem);
    }

    .cs-graphic2 {
      width: calc(205 / 16 * 1rem);
      height: auto;
      position: absolute;
      right: calc(-156 / 16 * 1rem);
      top: calc(8 / 16 * 1rem);
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1151 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cs-contact-group {
      width: 50%;
      max-width: calc(630 / 16 * 1rem);
      /* sends it to the right in the 2nd position */
      order: 0;
    }

    .cs-form {
      width: 46%;
      max-width: calc(578 / 16 * 1rem);
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1151 {
    .cs-graphic {
      display: block;
    }
  }
}
