/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-custom {
    padding: clamp(10.625rem, 20.95vw, 12rem) calc(16 / 16 * 1rem)
      clamp(5.625rem, 20.95vw, 25rem) calc(16 / 16 * 1rem);
    background: var(--backgroundGradient);
    border-radius: 0% 0% 30% 32% / 0% 0% 14% 14%;

    .cs-container {
      width: 100%;
      max-width: 60rem;
      padding: 0.2rem;
      margin: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      /* 48px - 64px */
      position: relative;
    }

    .cs-picture-container {
      display: none;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: start;
      align-items: flex-start;
      width: 100%;
      max-width: calc(500 / 16 * 1rem);
      gap: 1rem;

      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */

      * {
        text-align: start;
        color: var(--bodyTextColorWhite);
        margin: 0;
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */

      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      overflow: hidden;
      background: none;
      background-color: var(--bodyTextColorWhite);
      border-radius: 2rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #hero-custom {
    padding: clamp(10.625rem, 20.95vw, 12rem) calc(16 / 16 * 1rem)
      clamp(2.625rem, 5.95vw, 25rem) calc(16 / 16 * 1rem);

    .cs-container {
      flex-direction: row;
    }

    .cs-picture-container {
      position: relative;
      width: 400px;
      height: 400px;

      img {
        &:first-of-type {
          position: absolute;
          right: 0;
          top: 0;
        }
        &:last-of-type {
          position: absolute;
          top: 6rem;
          right: 14rem;
        }
      }
      display: block;
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  .services {
    width: 90%;
    max-width: calc(1320 / 16 * 1em);
    margin: auto;
    margin-top: calc(-167 / 16 * 1em);
    margin-bottom: calc(50 / 16 * 1em);
    padding: calc(50 / 16 * 1em) calc(20 / 16 * 1em);
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    border-top: calc(6 / 16 * 1em) solid var(--primary);
    border-radius: calc(5 / 16 * 1em);
    position: relative;
    z-index: 100;
    .card {
      width: 100%;
      max-width: calc(357 / 16 * 1em);
      margin: auto;
      margin-bottom: calc(50 / 16 * 1em);
      display: block;
      &:last-of-type {
        margin-bottom: 0;
      }

      picture {
        width: calc(88 / 16 * 1em);
        height: calc(88 / 16 * 1em);
        margin: auto;
        margin-bottom: calc(23 / 16 * 1em);
        background: var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: calc(48 / 16 * 1em);
          height: calc(48 / 16 * 1em);
        }
      }
      h2 {
        font-size: calc(32 / 16 * 1em);
        font-weight: 700;
        line-height: 27/20em;
        text-align: center;
        margin-bottom: 13/20em;
        color: #1a1a1a;
      }
      p {
        line-height: 24/18em;
        text-align: center;
        width: 100%;
        opacity: 0.7;
      }
    }
  }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    font-size: min(1.8vw, 1em);
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .card {
      max-width: calc(325 / 16 * 1em);
      margin: 0;
    }
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: calc(50 / 16 * 1em) calc(80 / 16 * 1em);

    .card {
      max-width: calc(357 / 16 * 1em);
    }
  }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #services {
      background: var(--medium);

      picture {
        background: var(--primaryDark);
      }

      h2 {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
