/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1172 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(704 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;

      margin-bottom: calc(4 / 16 * 1rem);
      display: block;
    }

    .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: calc(700 / 16 * 1rem);
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: calc(650 / 16 * 1rem);
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: calc(20 / 16 * 1rem);
    }

    .cs-item {
      text-align: center;
      list-style: none;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      &:nth-of-type(even) {
        &:after {
          /* scaleX -1 flips it horizontally */
          transform: rotate(-135deg) scaleX(-1);
        }
      }

      &:after {
        content: "";
        position: relative;
        display: block;
        /* 54px - 84px */
        width: clamp(3.375rem, 6vw, 5.25rem);
        height: clamp(3.375rem, 6vw, 5.25rem);
        margin-top: calc(20 / 16 * 1rem);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/curved-arrow-light.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        transform: rotate(135deg);
      }
    }

    .cs-picture {
      margin-bottom: calc(24 / 16 * 1rem);
      width: calc(88 / 16 * 1rem);
      height: calc(88 / 16 * 1rem);
      border-radius: 50%;
      background: var(--backgroundGradient);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-icon {
      width: calc(40 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      max-width: calc(342 / 16 * 1rem);
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-graphic {
      width: calc(840 / 16 * 1rem);
      height: auto;
      opacity: 0.3;
      position: absolute;
      top: calc(-80 / 16 * 1rem);
      left: calc(-80 / 16 * 1rem);
      z-index: -1;
      transform: rotate(-10deg);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1172 {
    .cs-item {
      grid-column: span 6;

      &:nth-of-type(2) {
        &:after {
          display: none;
        }
      }

      &:nth-of-type(1) {
        &:after {
          transform: rotate(135deg) scaleX(-1);
        }
      }

      &:after {
        margin: 0;
        position: absolute;
        right: calc(-40 / 16 * 1rem);
        top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1172 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      grid-column: span 3;

      &:nth-of-type(2) {
        &:after {
          display: block;
          transform: rotate(45deg);
        }
      }

      &:nth-of-type(3) {
        &:after {
          display: block;
          transform: rotate(135deg) scaleX(-1);
        }
      }

      &:after {
        right: calc(-48 / 16 * 1rem);
      }
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-370 {
    padding: var(--sectionPadding);
    overflow: hidden;

    @keyframes floatAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2em);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes floatAnimation2 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-1em);
      }
      100% {
        transform: translateY(0);
      }
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* 48px - 56px */
      gap: clamp(3rem, 3vw, 3.5rem);
    }

    .cs-text {
      margin: 0 auto 1rem;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: calc(24 / 16 * 1em);
    }

    .cs-li {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-bullet {
      width: calc(24 / 16 * 1rem);
      height: auto;
      margin-top: calc(2 / 16 * 1rem);
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-li-text {
      /* 14px - 16px */
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-image-group {
      /* everything in the group is in ems so we can scale them down with this min/max font size tied to the view width */
      font-size: min(2.3vw, 1em);
      width: calc(579 / 16 * 1em);
      height: calc(588 / 16 * 1em);
      position: relative;
      /* sends it to the top above the content */
      order: -1;
    }

    .cs-blob {
      width: calc(550 / 16 * 1em);
      height: calc(550 / 16 * 1em);
      position: absolute;
      right: calc(0 / 16 * 1em);
      top: calc(10 / 16 * 1em);
      background: var(--backgroundGradient);
      -webkit-mask: url(/assets/svgs/paymentblob.svg) no-repeat center / contain;
      mask: url(/assets/svgs/paymentblob.svg) no-repeat center / contain;
    }

    .cs-left-image {
      width: calc(150 / 16 * 1em);
      height: calc(150 / 16 * 1em);
      border-radius: 50%;
      /* cover the 1px gap between border and image */
      background: var(--backgroundGradient);

      border: 0.1rem solid white;
      /* clips image to the circle */
      overflow: hidden;
      position: absolute;

      left: calc(-12 / 16 * 1em);
      top: calc(131 / 16 * 1em);
      z-index: 10;
      animation-name: floatAnimation2;
      animation-duration: 6s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;

      img {
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        height: 65%;
        width: 65%;
        object-fit: cover;
      }
    }

    .cs-bottom-image {
      width: calc(120 / 16 * 1em);
      height: calc(120 / 16 * 1em);
      border-radius: 50%;
      background: var(--backgroundGradient);

      border: 0.1rem solid white;
      /* clips image to the circle */
      overflow: hidden;
      position: absolute;
      right: calc(180 / 16 * 1em);
      bottom: calc(-12 / 16 * 1em);
      z-index: 10;

      animation-name: floatAnimation;
      animation-duration: 10s;
      animation-delay: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
      }
    }

    .cs-store {
      width: calc(320 / 16 * 1em);
      height: auto;
      position: absolute;
      right: calc(110 / 16 * 1em);
      bottom: calc(130 / 16 * 1em);

      img {
        width: 100%;
        height: auto;
      }

      &::before {
        position: absolute;
        content: "";
        width: calc(550 / 16 * 1em);
        height: calc(550 / 16 * 1em);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--backgroundGradient);
        border-radius: 55% 45% 61% 39% / 30% 77% 23% 70%;

        z-index: -1;
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-370 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .cs-ul {
      margin-top: calc(16 / 16 * 1rem);
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows: 1fr; /* Set a fixed height for grid rows */
      align-items: start;
    }

    .cs-li {
      margin-top: none;
    }

    .cs-image-group {
      font-size: min(1.1vw, 1em);

      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
  }
}

/*-- -------------------------- -->
<---        Portfolio           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #portfolio {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;

    .cs-container {
      width: 100%;
      /* changes to 1280px on desktop */
      max-width: calc(700 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      max-width: 20ch;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: calc(16 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      display: flex;
      flex-direction: column;
      grid-column: span 12;

      &:hover {
        .cs-h3,
        .cs-text {
          color: #fff;
        }

        .cs-item-text {
          background: var(--backgroundGradient);
        }

        .cs-icon-wrapper {
          border-color: #fff;
        }

        .cs-icon {
          filter: brightness(1000%) grayscale(1);
        }

        .cs-icon {
          transform: rotate(0deg);
        }

        .cs-category {
          &::before {
            background-color: #fff;
            opacity: 0.2;
          }
        }
      }
    }

    .cs-link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      /* if one card has more content then the others, the card will stretch to fill the parent container */
      flex-grow: 1;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-picture {
      width: 100%;
      height: calc(320 / 16 * 1rem);
      margin: 0;
      border-radius: calc(24 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      overflow: hidden;
      img {
        width: auto;
        height: 50%;
      }
    }

    #pk {
      background-color: #e5e7eb;
    }
    #fc {
      background-color: #242526;
    }
    #ch {
      background-color: #5189f1;
    }

    .cs-item-text {
      padding: calc(20 / 16 * 1rem);
      background-color: #f7f7f7;
      border-radius: calc(24 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* makes the item text the element that grows to fill the container */
      flex-grow: 1;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
      line-height: 1.2em;
      text-align: left;
      margin: 0;
      color: #1a1a1a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-icon-wrapper {
      width: calc(48 / 16 * 1rem);
      height: calc(48 / 16 * 1rem);
      border: 1px solid #bababa;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .cs-icon {
      width: auto;
      height: calc(35 / 16 * 1rem);
      transform: rotate(-45deg);
      transition: transform 0.4s;
    }

    .cs-info {
      margin: calc(16 / 16 * 1rem) 0 0;
      padding: calc(16 / 16 * 1rem) 0 0;
      border-top: 1px solid #e8e8e8;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cs-bubbles {
      width: calc(321 / 16 * 1rem);
      height: calc(423 / 16 * 1rem);
      display: none;
      position: absolute;
      top: calc(1063 / 16 * 1rem);
      left: calc(-140 / 16 * 1rem);
      z-index: -1;

      &:before {
        /* white border bubble */
        content: "";
        width: calc(264 / 16 * 1rem);
        height: calc(264 / 16 * 1rem);
        background: transparent;
        opacity: 1;
        border: 1px solid black;
        border-radius: 54% 46% 40% 60% / 66% 74% 26% 34%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      &:after {
        /* orange bubble */
        content: "";
        width: calc(264 / 16 * 1rem);
        height: calc(264 / 16 * 1rem);
        background: var(--backgroundGradient);
        opacity: 0.2;
        border-radius: 54% 46% 40% 60% / 66% 74% 26% 34%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #portfolio {
    .cs-bubbles {
      display: block;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #portfolio {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      grid-column: span 4;
    }

    .cs-bubbles {
      top: calc(281 / 16 * 1rem);
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #portfolio {
    .cs-bubbles {
      margin-right: calc(-990 / 16 * 1rem);
      right: 50%;
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-363 {
    padding: var(--sectionPadding);
    overflow: hidden;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(522 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-ul {
      width: 100%;
      margin: 0 0 calc(32 / 16 * 1rem) 0;
      padding: 0 0 0 calc(20 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-li {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      list-style: none;
      margin-right: 0;
      color: var(--bodyTextColor);
      position: relative;

      &:before {
        /* bullets */
        content: "";
        width: calc(4 / 16 * 1rem);
        height: calc(4 / 16 * 1rem);
        border-radius: 50%;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        top: calc(9 / 16 * 1rem);
        left: calc(-15 / 16 * 1rem);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: 2rem;
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-image-group {
      /* scale down the whole section */
      font-size: min(1.6vw, 0.6em);
      /* aligns the .cs-image-group to the right */
      text-align: right;
      /* using ems so we can scale this container with a font size */
      width: auto;
      min-width: calc(600 / 16 * 1em);
      /* changes auto at desktop */
      height: calc(759 / 16 * 1em);
      max-height: 40rem;

      position: relative;

      background: var(--backgroundGradient);
      border-radius: 81% 19% 70% 30% / 30% 53% 47% 70%;
    }

    .cs-person {
      height: 100%;
      max-height: 35rem;
      width: auto;
      /* allows text align to move it left or right */
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: 2rem;
      border-radius: 40% 60% 49% 51% / 56% 41% 59% 44%;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        margin: 0;
        display: block;
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-363 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }

    .cs-content {
      width: 50%;
    }

    .cs-image-group {
      font-size: min(1vw, 1em);
      flex: none;
    }
  }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-363 {
    .cs-image-group {
      font-size: min(1.2vw, 1em);
      height: auto;
      margin-right: calc(0 / 16 * 1em);
      display: flex;
      /* pushes person image to the right of the container */
      justify-content: flex-end;
      /* pushed person image to the bottom of the container */
      align-items: flex-end;
      position: absolute;
      right: 50%;
      top: 0;
    }

    .cs-content {
      /* pushes it to the right side of the container */
      margin-left: auto;
    }
  }
}
