/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
  // Website colors
  :root {
    --primary: #28f000;
    --primaryLight: #28f000;
    --secondary: #03df66;
    --secondaryLight: #03df66;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fff;
    --backgroundGradient: linear-gradient(
      to bottom right,
      var(--primary),
      var(--secondary)
    );

    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1.1rem;

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }

  // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
  .cs-topper {
    font-size: var(--topperFontSize);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: var(--backgroundGradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: block;
  }

  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 auto calc(16 / 16 * 1rem);
    color: var(--headerColor);
    position: relative;
  }

  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    width: 100%;
    margin: 0 auto;
    color: var(--bodyTextColor);
  }

  // Button - can be replaced using CodeStitch's "Button" Stitches
  .cs-button-solid {
    font-size: calc(16 / 16 * 1rem);
    font-weight: bold;
    line-height: calc(50 / 16 * 1em);
    text-align: center;
    text-decoration: none;
    width: auto;
    height: calc(50 / 16 * 1rem);
    padding: 0 calc(30 / 16 * 1rem);
    border-radius: 2rem;

    // Transition Properties
    color: var(--bodyTextColorWhite);
    background: var(--backgroundGradient);
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .cs-span {
    background: var(--backgroundGradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

/* Fonts and general styles */
@media only screen and (min-width: 0em) {
  // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 900;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body,
  html {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  .container {
    width: 92%;
    margin: auto;
    position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }

  p,
  li,
  a {
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.5em;
    margin: 0;
  }

  p,
  li {
    color: #353535;
  }

  a,
  button {
    &:hover {
      cursor: pointer;
    }
  }

  // Hidden Screen reader skip nav button
  .skip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1111111;
  }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
  padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body {
    &.cs-open {
      overflow: hidden;
    }
  }

  #cs-navigation {
    width: 100%;
    padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;
    z-index: 10000;

    &.cs-active {
      &:before {
        height: 150vh;
        opacity: 1;
      }

      .cs-ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 0.15s;
      }

      .cs-li {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .cs-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .cs-logo {
      width: 40%;
      max-width: calc(146 / 16 * 1rem);
      height: 100%;
      margin: 0 auto 0 0;
      padding: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
      }
    }

    .cs-toggle {
      /* 44px - 48px */
      width: clamp(2.75rem, 6vw, 3rem);
      height: clamp(2.75rem, 6vw, 3rem);
      margin: 0 0 0 auto;
      border-radius: calc(4 / 16 * 1rem);
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-active {
      .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
      }

      .cs-line2 {
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
      }

      .cs-line3 {
        bottom: 100%;
        opacity: 0;
      }
    }

    .cs-box {
      /* 24px - 28px */
      width: clamp(1.5rem, 2vw, 1.75rem);
      /* 14px - 16px */
      height: clamp(0.875rem, 1.5vw, 1rem);
      position: relative;
    }

    .cs-line {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: var(--bodyTextColorWhite);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .cs-line1 {
      top: 0;
      transform-origin: center;
      transition: transform 0.5s, top 0.3s, left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }

    .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: top 0.3s, left 0.3s, transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }

    .cs-line3 {
      bottom: 0;
      transition: bottom 0.3s, opacity 0.3s;
    }

    .cs-ul-wrapper {
      width: 100%;
      height: auto;
      padding-bottom: calc(48 / 16 * 1rem);
      opacity: 0;
      background-color: var(--bodyTextColorWhite);
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;

      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.4s, opacity 0.3s;
    }

    .cs-ul {
      margin: 0;
      padding: calc(48 / 16 * 1rem) 0 0 0;
      width: 100%;
      height: auto;
      max-height: 65vh;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      gap: calc(20 / 16 * 1rem);
    }

    .cs-li {
      width: 100%;
      text-align: center;
      list-style: none;
      margin-right: 0;
      /* transition from these values */
      transform: translateY(-4.375rem);
      opacity: 0;
      transition: transform 0.6s, opacity 0.9s;

      &:nth-of-type(1) {
        transition-delay: 0.05s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.15s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.25s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.35s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.45s;
      }
    }

    .cs-li-link {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      text-decoration: none;
      margin: 0;
      color: var(--headerColor);
      display: inline-block;
      position: relative;

      &:before {
        /* active state underline */
        content: "";
        width: 100%;
        height: 2px;
        background: var(--primary);
        opacity: 1;
        position: absolute;
        display: none;
        bottom: calc(-3 / 16 * 1rem);
        left: 0;
      }

      &.cs-active {
        &:before {
          display: block;
        }
      }
    }

    .cs-button-solid {
      display: none;
    }
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    padding: calc(16 / 16 * 1rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;
    z-index: 10000;
    font-weight: bold;

    .cs-container {
      width: 100%;
      max-width: 60rem;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: calc(24 / 16 * 1rem);
    }

    .cs-toggle {
      display: none;
    }

    .cs-logo {
      width: 15.4%;
      max-width: calc(350 / 16 * 1rem);
      height: calc(65 / 16 * 1rem);
      /* margin-right auto pushes everything away from it to the right */
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;

      img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
      }
    }

    .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 20px - 36px */
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }

    .cs-li {
      list-style: none;
      /* prevent flexbox from squishing it */
      flex: none;
    }

    .cs-li-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 2vw, 1.1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;
      &:hover {
        &:before {
          width: 100%;
        }
      }

      &.cs-active {
        &:before {
          width: 100%;
        }
      }

      &:before {
        /* active state underline */
        content: "";
        width: 0%;
        height: 2px;
        background: var(--bodyTextColorWhite);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: calc(0 / 16 * 1rem);
        left: 0;
        transition: width 0.3s;
      }
    }
  }
}

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 30vh;
    padding-top: calc(50 / 16 * 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background: var(--backgroundGradient);
    border-radius: 0% 0% 30% 32% / 0% 0% 14% 14%;

    h1 {
      font-size: 64/30rem;
      text-align: center;
      width: 96%;
      max-width: calc(500 / 16 * 1rem);
      margin: 0 auto;
      margin-top: calc(70 / 16 * 1rem);
      margin-bottom: calc(30 / 16 * 1rem);
      color: var(--bodyTextColorWhite);
      position: relative;
    }

    p {
      text-align: center;
      width: 96%;
      max-width: calc(400 / 16 * 1rem);
      margin: auto;
      margin-bottom: calc(30 / 16 * 1rem);
      color: #fff;
      display: block;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;

    h1 {
      font-size: calc(64 / 16 * 1rem);
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    font-size: inherit;
    height: auto;
    min-height: calc(300 / 16 * 1rem);
    padding-top: calc(180 / 16 * 1rem);
    background-attachment: fixed;
    padding-block-end: calc(100 / 16 * 1rem);
  }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1392 {
    padding: var(--sectionPadding);
    padding-bottom: 0;

    position: relative;
    z-index: 10;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      column-gap: auto;
      /* 48px - 64px */
      gap: clamp(2rem, 3vw, 3rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-title {
      margin: 0;
      margin-bottom: 1rem;
      max-width: 23ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-ul {
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(24 / 16 * 1rem);
      position: relative;
    }

    .cs-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(20 / 16 * 1rem);

      &:hover {
        .cs-icon-wrapper {
          transform: scale(1.1);
        }
      }
    }

    .cs-header {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: start;
      margin-bottom: calc(12 / 16 * 1rem);
      color: var(--headerColor);
      display: block;
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      text-decoration: none;
      color: var(--bodyTextColor);
      display: block;
      position: relative;

      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }

    .cs-icon-wrapper {
      width: calc(60 / 16 * 1rem);
      height: calc(60 / 16 * 1rem);
      margin: 0;
      border-radius: 50%;
      border: 1px solid #bababa;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: calc(24 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-form {
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      /* -30px to -100px */
      margin-bottom: calc(clamp(1.875rem, 7vw, 6.25rem) * -1);
      /* 24px - 48px top and bottom */
      /* 16px - 48px left and right */
      padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      background: var(--backgroundGradient);
      border-radius: calc(16 / 16 * 1rem);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-h3 {
      /* 20px - 39px */
      font-size: clamp(1.25rem, 3vw, 2.4375rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 calc(4 / 16 * 1rem) 0;
      color: var(--bodyTextColorWhite);
    }

    .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      width: 100%;
      color: var(--bodyTextColorWhite);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: calc(4 / 16 * 1rem);
    }

    .cs-input {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      height: calc(56 / 16 * 1rem);
      padding: 0;
      padding-left: calc(24 / 16 * 1rem);
      color: var(--headerColor);
      background-color: #f7f7f7;
      border-radius: calc(8 / 16 * 1rem);
      border: none;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      &::placeholder {
        color: #7d799c;
        opacity: 0.6;
      }
    }

    .cs-textarea {
      min-height: calc(120 / 16 * 1rem);
      padding-top: calc(24 / 16 * 1rem);
      margin-bottom: calc(12 / 16 * 1rem);
      font-family: inherit;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);

      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: var(--headerColor);
      padding: 0 calc(48 / 16 * 1rem);
      border-radius: calc(30 / 16 * 1rem);
      background: none;
      background-color: var(--bodyTextColorWhite);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: var(--headerColor);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--bodyTextColorWhite);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-submit {
      width: 100%;
      min-width: calc(200 / 16 * 1rem);
      border: none;

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1392 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      width: 47%;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1392 {
    .cs-form {
      width: 46%;
      max-width: calc(578 / 16 * 1rem);
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1392 {
    .cs-graphic {
      display: block;
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
    background: var(--backgroundGradient);
    border-radius: 27% 27% 0% 0% / 27% 27% 0% 0%;
    font-weight: bold;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--bodyTextColorWhite);
      opacity: 1;

      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */

      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      overflow: hidden;
      background: none;
      background-color: var(--bodyTextColorWhite);
      border-radius: 2rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* black color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1154 {
    padding: var(--sectionPadding);
    position: relative;
    background-color: var(--headerColor);
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-top {
      width: 100%;
      /* 32px - 40px */
      margin-bottom: clamp(2rem, 4vw, 2.5rem);
      padding-bottom: clamp(2rem, 4vw, 2.5rem);
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: calc(32 / 16 * 1rem);
    }

    .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: calc(8 / 16 * 1rem);
      /* 28px - 40px */
      column-gap: clamp(1.75rem, 4vw, 2.5rem);
    }

    .cs-li {
      list-style: none;
    }

    .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;
      transition: color 0.3s;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 0;
        height: 0.2rem;
        background: var(--backgroundGradient);
        transition: all 0.3s;
      }

      &:hover {
        color: var(--primary);
        &::before {
          width: 100%;
        }
      }
    }

    .cs-logo {
      width: calc(168 / 16 * 1rem);
      height: auto;
    }

    .cs-logo-img {
      width: 100%;
      height: auto;
      display: block;
    }

    .cs-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(24 / 16 * 1rem);
    }

    .cs-social {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-social-li {
      list-style: none;
    }

    .cs-social-link {
      width: calc(32 / 16 * 1rem);
      height: calc(32 / 16 * 1rem);
      background-color: #e8e8e8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--primary);

        .cs-social-icon {
          filter: grayscale(1) brightness(1000%);
          opacity: 1;
        }
      }
    }

    .cs-social-icon {
      width: calc(12 / 16 * 1rem);
      height: auto;
      display: block;
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    .cs-copyright {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
    }

    .cs-copyright-link {
      font-size: inherit;
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1154 {
    .cs-top {
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-bottom {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
